.tips-cont {
  height: 100vh;
  width: 100vw;
  background-color: #ffe56f;
  letter-spacing: 1.2px;
}

.tips-upper {
  text-align: center;
}

.tips-bhasha-buddy-tips {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 30%;
  padding: 20px;
}

#tips-lang {
  background-color: #fff;
  padding: 10px 15px;
  width: min-content;
  align-self: center;
  border-radius: 5px;
  margin-left: 90px;
  color: #ffd311;
  text-shadow: 0px 0px 1px #292824;
}

.tips-bhasha-buddy-tips h2 {
  font-size: 2rem;
  color: #444;
  margin-bottom: 1rem;
  align-self: center;
  color: #fff;
  text-shadow: 0px 0px 3px #444;
}

.tips-bhasha-buddy-tips h3 {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0px 0px 3px #444;
  margin-bottom: 1rem;
}

.tips-ul {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.tips-li {
  font-size: 1.2em;
  margin-top: 30px;
  color: #ffd311;
  background-color: #f9f8f8;
  border-radius: 30px;
  padding-bottom: 10px;
  text-shadow: 0px 1px 1px #292824;
}

.tips-bhasha-buddy-tips span {
  border: 3px solid #f9f8f8;
  border-radius: 40px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ffe56f;
  font-size: 1.5em;
  color: #fff;
}
