.comm-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(163deg, rgba(2, 0, 36, 1) 0%, rgba(246, 246, 247, 1) 0%, rgba(35, 210, 246, 1) 99%);
  padding-inline: 10%;
  padding-top: 10px;
  min-height: 140vh;
  margin: 0;
  font-family: sans-serif;
}

.community-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid black; */
}

/* New post from -starts*/

.comm-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comm-new-post-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 500px;
  margin-top: 20px;
}

.comm-new-post-form textarea {
  width: 600px;
  height: 200px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  background-color: rgba(255, 255, 255, 0.5);
}

.comm-new-post-form button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #d81159;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 160px;
}

/* New post form ends */

/* post-main-page starts*/

.comm-posts {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 300px;
}

.comm-posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  /* border: 1px solid black; */
}

/* post-main-page ends*/

/* post-starts */

.comm-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(157, 217, 217);
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
  transition: ease-in-out 0.4s;
  /* box-shadow: 0 0 10px #fff inset; */
}

.comm-post:hover {
  box-shadow: 0 0 8px #444;
  border: 2px solid #34d8f9;
  transform: translateY(-2px);
}

.comm-upper {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 30px;
  overflow: hidden;
}

.comm-lp {
  max-width: 30%;
}

.comm-rp {
  max-width: 65%;
}

.comm-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #d81159;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
}

.comm-post img {
  height: 150px;
  border-radius: 50%;
  position: center;
}

.comm-post p {
  margin: 10px 0;
}
