# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
ENV/

# Logs and databases
*.log
*.sqlitedb

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Dependencies
/venv
/env
/env/
/ENV/
/node_modules
