.blog-outer-container{
    background: linear-gradient(163deg, #020024 0%, #f6f6f7 0%, #23d2f6 99%);
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 300px;
    overflow: hidden;
}

.blog-container{
    padding-inline: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
}


/* nav bar starts */
.blog-nav{
    position: fixed;
    color: #444;
    top:0px;
    padding-left: 40px;
    padding: 10px;
    width: 100%;
    background-color: #23d2f6;
    box-shadow: 0px 5px 5px #c8bcb2;
    border-radius: 5px;
    z-index: 2;
}

.blog-nav h1{
    font-size: 2.6em;
    font-weight: 400;
    margin-bottom: 10px;
    margin:0;
    margin-block: 10px;
}

/* blog-posts-starts */
.blog-posts h3,h4{
    margin:0;
    padding:0;
}

.blog-posts{
    padding-top: 130px;
    padding-inline: 20px;
    padding-bottom: 30px;
    width:80%;
    overflow: hidden;
    font-size: 1em;
}


.blog-post{
    display: flex;
    height:220px;
    padding:20px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #e1cab8;
	transition: 0.5s;
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.5);

}

.blog-post:hover{
    box-shadow: 0px 10px 20px #928377;
}

.blog-rp{
    width:70%;
    text-align: justify;
    height: 70%;
    margin-left: 20px;
    font-size: 1em;
}

.blog-rp h2{
    font-size: 1.2em;
}

.blog-rp h3{
    margin-bottom: 15px;

}
.blog-rp h4{
    margin-bottom: 20px;
}

.blog-rp p{
    margin-top:10px;
    overflow-y: hidden;
    height: 87%;
}
.blog-lp{
    width:30%;
    overflow-y: hidden;
}
.blog-lp img{
    width:264px;
}

/* publish a blog */

.publish-container img{
    width:350px;
    transform: translateY(40%);
}

.publish-container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.publish-image {
    display: block;
    /* width: 100%; */
    height: auto;
}

.publish-text {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #444;
    width: 100%; /* Ensure the text container spans the full width of the image */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; 
}

.publish-text p {
    margin: 0;
    font-size: 1.2em;
}

.publish-text button {
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    background-color: #d81159;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
}

.publish-text button:hover {
    background-color: #b90c4b;
}
