.forget-password-container {
    text-align: center;
    position :relative;
    left : 200px;
    bottom : -50px;
  }
  
  .forget-password-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .forget-password-container p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .forget-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forget-password-container input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    width :300px;
  }
  
  .forget-password-container .send-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    width :140px;
  }
  
  .forget-password-container a {
    text-decoration: none;
    color: blue;
  }
  