.login-container {
    margin: 0 auto;
    border: 1px solid #ffffff;
    text-align: center;
    margin-left: 770px;
    margin-right: 200px;;
    margin-bottom : 400px;
    margin-top : 400px;

    background-color: #e1cab8;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px #928377;
    width: 450px;
    max-width: 80%;
    
  }

  .login-container h1 {
    margin-bottom: 10px;
  }
  
  .login-container p {
    margin-bottom: 20px;
  }
  
  .login-container form {
    margin-bottom: 20px;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"],
  .login-container button {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
  }
  
  .login-container button {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .social-icons {
    text-align: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icons p {
    margin-top: 10px;
  }

  .login-text{
    text-align :center;
  }

 .icon{
    margin-left :10px;
 }

 .size{
    width:50px;
    height:50px;
 }
 body {font-family: Arial, Helvetica, sans-serif;}
 * {box-sizing: border-box;}
 
 .input-container {
   display: -ms-flexbox; /* IE10 */
   display: flex;
   width: 100%;
   margin-bottom: 15px;
 }
 
.icon{
    background-color : white;
    border-radius: 30px;
    width :30px;
    height : 30px;
}
 .input-field {
   width: 100%;
   padding: 10px;
   outline: none;
 }
 
 .input-field:focus {
   border: 2px solid dodgerblue;
 }
 
 /* Set a style for the submit button */
 .btn {
   background-color: rgb(0, 0, 0);
   color: white;
   padding: 15px 20px;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
 }
 
 .btn:hover {
   opacity: 1;
 }