/* VerifyOtp.css */

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f8eade;
  }
  
  /* Main Container Styles */
  .main {
    display: flex;
    flex-direction: row;
    column-gap: 150px;
  }
  
  /* Logo Styles */
  .logo {
    padding-top: 20px;
  }
  
  /* Container Styles */
  .containerr {
    text-align: center;
    background-color: #e1cab8;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #b57846;
  }
  
  /* Heading Styles */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* OTP Input Styles */
  .otp-inputs {
    margin-bottom: 20px;
  }
  
  .otp-field {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #a2a8ae;
    transition: transform 0.3s;
  }
  
  .otp-field:hover {
    transform: scale(1.05);
  }
  
  .otp-field:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Verify Button Styles */
  .verify-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #017086;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .verify-btn:hover {
    background-color: #0056b3;
  }
  
  /* Resend Link Styles */
  .resend a {
    text-decoration: none;
    margin-left: 10px;
    color: #007bff;
    transition: 0.4s;
  }
  
  .resend a:hover {
    color: #0261c7;
    transition: 0.2s;
  }
  